* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url(https://i.imgur.com/b4EYy1V.gif);
  color: white;
}

.heading, .heading2 {
  text-align: center;
}

.country__heading,
.button-container
{
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  justify-content: center;
}

.country__button {
  padding: 0.5rem 2.5rem;
  border-radius: 2rem;
  text-align: center;
  border: 1px solid #777;
}

.visited {
  background: pink;
  border-bottom: 1px solid #777;
}

.read-more {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-name {
  text-decoration: underline;
  color: hotpink;
}